<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Jetty appender -->
	<!-- 
	<appender name="messenger_log" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/messenger.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="5MB" />
		<param name="maxBackupIndex" value="3" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-5d{dd-MMM-yyyy HH:mm:ss.SSS} | %-5p | %c{1}:%L | %m%n" />
		</layout>
	</appender>
	 -->
	 
	<!-- VMware vFabric or Tomcat appender 
	VMware -> catalina.base
	Tomcat -> catalina.home
	-->
	<appender name="messenger_log" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.base}/logs/messenger.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="5MB" />
		<param name="maxBackupIndex" value="3" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-5d{dd-MMM-yyyy HH:mm:ss.SSS} | %-5p | %c{1}:%L | %m%n" />
		</layout>
	</appender>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework">
		<level value="error" />
	</logger>
	<logger name="org.hibernate">
		<level value="error" />
	</logger>
	<logger name="org.displaytag">
		<level value="error" />
	</logger>
	
	<root>
		<level value="INFO" />
		<appender-ref ref="messenger_log" />
	</root>

</log4j:configuration>